.header__profile-btn{
	grid-area: profile;
	min-height: 48px;
	width: 48px;
	padding: 0;
	border: none;
	background:transparent;
	@media (hover: hover){
		&:hover{
			background-color: $color-w2;
			transition: 0.3s;
			cursor: pointer;
		}
	}
}