.right-menu__text-wrapper{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 0 0 7px;
	margin-bottom: 6px;
	width: 95%;
	height: 42px;
	background: $color-w3;
	border-radius: 11px;
}