.navbar__btn{
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	width: 17vw;
	height: 30px;
	&:hover{
		border-radius: 5px;
		transition: 0.3s;
		cursor: pointer;
		background-color: $color-w5;
	}
}