.popup-wrapper{
	display: block;
	visibility: visible;
	position: fixed;
	width: 100%;
	min-height: 100vh;
	background:rgba(0, 0, 0, 0.619);
	z-index: 4;
	opacity: 0;
  transition: opacity 2s ease-out, transform 2s ease-out;
}
.popup-wrapper.show{
	transition: 2.5s;
  opacity: 1;
}