.popup-auth__cross-btn{
	transition: 0.5s;
	height: 16px;
	margin: 4px 4px 0px auto;
	padding: 0;
	border: none;
	background: transparent;
	@media (hover: hover){
		&:hover{
			cursor: pointer;
			transition: 0.5s;
			transform: translateY(0px) translateZ(10px) rotate(90deg)
		}
	}
}