.popup-auth{
	display: block;
	visibility: visible;
	position: fixed;
	top: 41px;
	left: 73vw;
	width: 25vw;
	min-height: 300px;
	z-index: 5;
	opacity: 0;
  transform: translateY(-100px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.popup-auth.show{
  opacity: 1;
  transform: translateY(0);
}