.popup-auth__bottom-block{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $color-w1;
	width: 100%;
	height: 90%;
	border-radius: 10px;
	border: 2px solid $color-c1;
}