.header_grid{
	grid-area: header;
	display: grid;
	grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
	grid-template-areas: 
	"btn logo logo profile none";
	justify-items: end;
	align-items: start;
	padding-left: 0px;
}