.setting-block__panel_mod0{
	grid-template-columns: 60px 1fr 160px;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 
	"img text btn"
	"img text_tel btn";
	justify-items: center;
	align-items: center;
}