.search{
	height: 90%;
	display:inline-block;
	border-radius:11px;
	background: $color-w3;
	line-height: 90%;
	@include adaptiv-font(20, 10);
	overflow:hidden;
	position:relative;
	@media (min-width: $screen-xxl){
		
	}
}