.search{
	height:40px;
	display:inline-block;
	border-radius:11px;
	background: $color-w3;
	line-height:40px;
	font-size:18px;
	overflow:hidden;
	position:relative;
	width:auto;
	margin-right: auto;
}