.publication__like-btn{
	display: flex;
	align-items: center;
	min-width: 60px;
	height: 32px;
	padding: 0 0 0 7px;
	border: none;
	border-radius: 32px;
	&:hover{
		background-color: $color-w14;
		transition: 0.3s;
		cursor: pointer;
	}
}