.setting-block__course{
	font-size: 18px;
	font-weight: 700;
	position: relative;
	border-bottom: 2px solid $color-w4;
	top: 4px;
	@media (hover: hover){
		&:hover{
			cursor: pointer;
			transition: 0.5s;
			border-bottom: 2px solid $color-c4;
		}
	}
}