.search__input{
	height: 100%;
	border: none;
	outline:none;
	vertical-align:top;
	position:relative;
	z-index:2;
	background:transparent;
	margin-right: 0.4vw;
	@include adaptiv-font(20, 10);
	color: $color-w7;
}
