.setting-block__block-lesson{
	position: relative;
	overflow: hidden;

	background: $color-w1;

	border: 1px solid $color-w5;
	border-radius: 26px;

	min-height: 90px;

	margin-bottom: 10px;

	display: grid;

	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;

	grid-template-areas: 
	"lesson lesson"
	"average-score percentage-visits";
	justify-items: center;
	align-items: center;
	&:hover{
		span{
			transition: .1s;
			color: $color-w1;
		}
	}
	&:hover .setting-block__block-color{
		cursor: pointer;
		-webkit-transform: scale(25);
		-ms-transform: scale(25);
		transform: scale(25);
	}
}