.popup-auth__input-submit{
	margin-top: 25px;
	background-image: url('../img/page1/Popup/login.svg');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-color: transparent;
	width: 45px;
	height: 45px;
	font-weight: 300;
	border-radius: 10px;
	border: 0px;
	transition: 0.5s;
	@media (hover: hover){
		&:hover{
			cursor: pointer;
			transition: 0.5s;
			margin-left: 13px;
		}
	}
}