.setting-block__block-color{
	position: absolute;
	height: 48px;
  width: 48px;
	top: -28px;
	right: -24px;
	border-radius: 50%;
	-webkit-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease;
}