.post-publication{
	display: flex;
	display: none;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	background: $color-w1;
	border: 1px solid $color-w5;
	border-radius: 26px;
	padding: 10px 15px 0 15px;
	margin-bottom: 10px;
}