.header{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	height: 50px;
	background-color: $color-w1;
	border-width: 1px 0px;
	border-style: solid;
	border-color: $color-w5;
	padding-left: 20px;
}